<template>
  <v-container id="experiences" grid-list-md>
    <v-layout align-center justify-center>
      <v-flex xs12 sm12 md12 lg12 xl10>
        <h3
          class="text-xs-center display-2 font-weight-medium pb-2 text-uppercase"
        >
          Expériences
        </h3>
        <icon-line icon-class="fas fa-code" class="text-xs-center"></icon-line>
        <v-timeline class="mt-4" :dense="timelineDisplay">
          <experience-time-line-item
            v-for="(experience, i) in $store.state.experiences.list"
            :key="i"
            :experience="experience"
          ></experience-time-line-item>
        </v-timeline>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import IconLine from '../IconLine'
import ExperienceTimeLineItem from './ExperienceTimeLineItem'
export default {
  name: 'Experience',
  components: {
    ExperienceTimeLineItem,
    IconLine
  },
  computed: {
    timelineDisplay() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
        case 'sm':
        case 'md':
          return true
        case 'lg':
        case 'xl':
        default:
          return false
      }
    }
  }
}
</script>
