<template>
  <v-timeline-item color="#DF7452" icon="fas fa-code" large>
    <v-card class="elevation-2">
      <v-card-title>
        <div>
          <h3 class="headline">{{ experience.role }}</h3>
          <div>
            <h4
              v-if="experience.link !== '#'"
              class="title font-weight-medium pt-1"
            >
              <a :href="experience.link" target="_blank">{{
                experience.company
              }}</a>
            </h4>
            <h4 v-else class="title font-weight-medium pt-1 primary--text">
              {{ experience.company }}
            </h4>
          </div>
        </div>
        <v-spacer></v-spacer>
        <div class="">
          <h5 class="subheading grey--text">
            {{ experience.dateStart }} - {{ experience.dateEnd }} |
            {{ experience.city }}
          </h5>
        </div>
      </v-card-title>
      <v-card-text class="py-0">
        <v-container pa-0 pr-2>
          <v-layout align-end>
            <v-flex xs10 md11>
              <v-list>
                <template v-for="(description, i) in experience.description">
                  <v-list-tile-content :key="i" class="pa-1">
                    <div v-html="description"></div>
                  </v-list-tile-content>
                </template>
              </v-list>
            </v-flex>
            <v-flex xs2 md1 pb-0>
              <v-btn icon class="mb-0" @click="show = !show">
                <v-icon>{{
                  show ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
                }}</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions class="headline"> </v-card-actions>
      <v-slide-y-transition>
        <v-card-text v-show="show" class="pt-0">
          <v-container pa-0 pr-2>
            <v-layout align-center>
              <v-flex>
                <div>
                  <v-chip v-for="(tag, itag) in experience.tags" :key="itag">
                    {{ tag }}
                  </v-chip>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-timeline-item>
</template>

<script>
export default {
  name: 'ExperienceTimeLineItem',
  props: {
    experience: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      show: false
    }
  }
}
</script>

<style scoped>
div.v-list__tile__content:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
</style>
