<template>
  <v-container grid-list-md>
    <v-layout align-center justify-center class="text-xs-center">
      <v-flex xs12 sm12 md12 lg12 xl10>
        <v-icon class="fas fa-skull-crossbones fa-10x active-primary" color="primary"></v-icon>
        <h3 class="display-4">Under control</h3>
        <p class="display-3">Coming soon</p>
    <!--    <p v-for="post in posts">{{ post.title }}</p>-->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'layout',
  name: 'index',
  async asyncData({ app }) {
    const allPosts = await app
      .$content('/articles')
      .query({ exclude: ['attributes', 'body'] })
      .getAll()
    return {
      posts: await app.$content('/articles').getOnly(0, 4),
      numberOfPages: Math.ceil(allPosts.length / 5)
    }
  }
}
</script>

<style scoped></style>
