<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    <!-- Matomo Tag Manager -->
    <script type="text/javascript">
      var _mtm = _mtm || [];
      _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://stats.yohannvalentin.com/js/container_c8XiuYvX.js'; s.parentNode.insertBefore(g,s);
    </script>
    <!-- End Matomo Tag Manager -->
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
