<template>
  <v-container id="myStack" grid-list-md text-xs-center>
    <v-layout row fill>
      <v-flex>
        <h3
          class="text-xs-center display-2 font-weight-medium pb-2 text-uppercase"
        >
          Je joue avec
        </h3>
        <icon-line icon-class="fas fa-cubes" />
        <v-container grid-list-xl pa-0>
          <v-layout wrap>
            <v-flex
              v-for="(svg, index) in $store.state.stacks.listSVG"
              :key="index"
              xs12
              sm6
              md4
              lg3
            >
              <StackSvg :icon="svg.type" :name="svg.name" :link="svg.link" />
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex>
              <v-btn
                :class="toggleHtmlColor()"
                large
                dark
                @click="viewStacks = !viewStacks"
                >{{ toggleHtmlContent() }}</v-btn
              >
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <v-expand-transition>
      <v-layout v-show="viewStacks">
        <v-flex row>
          <v-tabs slider-color="primary" centered show-arrows>
            <v-tab
              v-for="(category, index) in this.$store.state.stacks.categories"
              :key="index"
              ripple
              @click="filterStacks(category)"
              >{{ category }}</v-tab
            >
          </v-tabs>
          <v-container grid-list-xl pt-2 pa-0>
            <v-fade-transition
              group
              tag="div"
              class="wrap layout"
              origin="center center"
            >
              <v-flex
                v-for="(stack, index) in $store.state.stacks.list"
                v-if="stack.visible"
                :key="`idFlex${index}`"
                xs4
                sm3
                md2
                lg1
                xl1
              >
                <v-avatar
                  size="66"
                  :tile="true"
                  class="elevation-1"
                  @click="allClicked()"
                >
                  <img
                    :src="`logos/${stack.img}`"
                    :alt="stack.name"
                    class="stack"
                    :title="stack.name"
                  />
                </v-avatar>
                <v-progress-circular
                  v-if="stackClick"
                  :key="`idProgress${index}`"
                  :ref="`id${index}`"
                  :rotate="90"
                  :size="60"
                  :width="10"
                  :value="stack.value"
                  :color="stack.color"
                  class="mt-2"
                  >{{ stack.value }}
                </v-progress-circular>
              </v-flex>
            </v-fade-transition>
          </v-container>
        </v-flex>
      </v-layout>
    </v-expand-transition>
  </v-container>
</template>
<script>
import { mapMutations } from 'vuex'
import IconLine from '../IconLine'
import StackSvg from './StackSvg'

export default {
  name: 'stacks',
  components: {
    StackSvg,
    IconLine
  },
  head() {
    return {
      meta: [{ name: 'keywords', content: this.getKeywords() }]
    }
  },
  data() {
    return {
      stackClick: false,
      viewStacks: false
    }
  },
  // mounted: function () {
  //   let stacksList = this.$store.state.stacks.list
  //   for (let index in stacksList) {
  //     if (stacksList.hasOwnProperty(index)) {
  //       this.progressValue[index] = 0
  //     }
  //   }
  // },
  methods: {
    ...mapMutations({
      filterStacks: 'stacks/filterStacks'
    }),
    getKeywords() {
      const keywords = []
      this.$store.state.stacks.list.forEach(function(stack) {
        keywords.push(stack.name)
      })
      return keywords.join(', ')
    },
    stackClicked(index, stack) {
      // Toggle condition
      const id = `id${index}`
      if (this.stackClick !== id) {
        this.stackClick = id
        // this.progressValue[index] = stack.value
      } else {
        this.stackClick = false
        // this.progressValue[index] = 0
      }
    },
    allClicked() {
      return (this.stackClick = !this.stackClick)
      // let stacksList = this.$store.state.stacks.list
      // for (let index in stacksList) {
      //   if (stacksList.hasOwnProperty(index)) {
      //     let stack = stacksList[index]
      //     if (stack.visible) {
      //       // this.progressValue[index] = this.stackClick ? stack.value : 0
      //     }
      //   }
      // }
    },
    toggleHtmlContent() {
      return this.viewStacks ? 'En voir moins' : 'En voir plus'
    },
    toggleHtmlColor() {
      return this.viewStacks ? 'secondary' : 'primary'
    }
  }
}
</script>

<style>
.v-avatar {
  cursor: pointer;
}
</style>
