<template>
  <a :href="link" target="_blank" :title="name">
    <component :is="dynamicIcon" />
  </a>
</template>

<script>
export default {
  name: 'StackSvg',
  props: {
    name: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  },
  computed: {
    dynamicIcon() {
      return () => import(`./../../static/logos/svg/${this.icon}.svg`)
    }
  }
}
</script>

<style scoped>
svg:not(:root) {
  overflow: hidden;
}

a svg {
  max-height: 60px;
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
}

a:hover svg {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
</style>
