<template>
  <v-container id="myReferences" grid-list-md text-xs-center>
    <v-layout row fill>
      <v-flex>
        <h3
          class="text-xs-center display-2 font-weight-medium pb-2 text-uppercase"
        >
          Références
        </h3>
        <icon-line icon-class="fas fa-drafting-compass" />
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex row>
        <v-tabs slider-color="primary" centered show-arrows>
          <v-tab
            v-for="(category, index) in this.$store.state.projects.categories"
            :key="index"
            ripple
            @click="filters(category)"
            >{{ category }}
          </v-tab>
        </v-tabs>
        <v-container grid-list-xl pt-2 pa-0>
          <v-fade-transition
            group
            tag="div"
            class="wrap layout"
            origin="center center"
          >
            <v-flex
              v-for="(project, index) in $store.state.projects.list"
              v-if="project.visible"
              :key="`idReference${index}`"
              xs12
              sm6
              md6
              lg4
              xl4
            >
              <references-card :project="project" />
            </v-flex>
          </v-fade-transition>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapMutations } from 'vuex'
import IconLine from '../IconLine'
import ReferencesCard from './ReferencesCard'

export default {
  name: 'References',
  components: {
    ReferencesCard,
    IconLine
  },
  methods: {
    ...mapMutations({
      filters: 'projects/filter'
    })
  }
}
</script>

<style scoped></style>
