<template>
  <v-card>
    <v-img :src="`projects/${project.img}`" aspect-ratio="2" position="top center" />
    <v-card-title primary-title class="pa-2 justify-center">
      <div>
        <h3 class="headline mb-0">{{ project.name }}</h3>
        <div>
          <v-chip v-for="(tag, itag) in project.categories" :key="itag">
            {{ tag }}
          </v-chip>
        </div>
      </div>
    </v-card-title>
    <v-card-actions>
      <v-btn color="primary" target="_blank" :href="project.url">
        <v-icon small class="fas fa-link"></v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }} </v-icon>
      </v-btn>
    </v-card-actions>
    <v-slide-y-transition>
      <v-card-text v-show="show" v-html="project.description">

      </v-card-text>
    </v-slide-y-transition>
  </v-card>
</template>

<script>
export default {
  name: 'ReferencesCard',
  props: {
    project: {
      type: Object,
      require: true
    }
  },
  data: () => ({
    show: false
  })
}
</script>

<style scoped>
.project-name {
  height: 64px;
}
</style>
