<template>
  <section :key="$route.params.post" class="content-container">
    <h1>{{ post.title }}</h1>
    <nuxtent-body :body="post.body" />
  </section>
</template>

<script>
export default {
  layout: 'layout',
  async asyncData({ app, route, payload }) {
    return {
      post: (await app.$content('/articles').get(route.path)) || payload
    }
  },
  head() {
    return {
      title: this.post.title
    }
  }
}
</script>

<style scoped></style>
