<template>
  <v-container id="contact" fluid grid-list-lg>
    <v-layout row wrap align-center justify-center>
      <v-flex xs12 sm12 md10 lg6>
        <v-card color="#c08ec1" dark>
          <v-card-title primary-title>
            <a href="mailto:pro@yohannvalentin.com">pro@yohannvalentin.com</a>
            <v-form ref="form" v-model="form">
              <div class="headline">
                Vous avez un projet, vous souhaitez échanger sur une
                coopération... Contactez-moi !
              </div>
              <div>
                <v-text-field
                  v-model="name"
                  v-validate="'required|min:2'"
                  color="#E0BD60"
                  :error-messages="errors.collect('name')"
                  label="Nom"
                  data-vv-name="name"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  v-validate="'required|email'"
                  color="#E0BD60"
                  :error-messages="errors.collect('email')"
                  label="E-mail"
                  data-vv-name="email"
                  required
                ></v-text-field>
                <v-textarea
                  v-model="message"
                  v-validate="'required|min:20'"
                  data-vv-name="message"
                  :error-messages="errors.collect('message')"
                  auto-grow
                  :clearable="true"
                  color="#E0BD60"
                  label="Message"
                  rows="3"
                ></v-textarea>
              </div>
            </v-form>
          </v-card-title>
          <v-card-actions class="justify-center">
            <v-btn
              :disabled="!form"
              :loading="isLoading"
              class="white--text"
              color="#c08ec1"
              depressed
              @click="submit"
              >Envoyer</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// import Vue from 'vue'
// import VeeValidate from 'vee-validate'
//
// Vue.use(VeeValidate);

export default {
  name: 'Contact',
  // $_veeValidate: {
  //   validator: 'new'
  // },
  data: () => ({
    name: '',
    email: '',
    message: '',
    isLoading: false,
    form: false
  }),
  created() {
    this.$validator.localize('fr')
  },
  methods: {
    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$axios
            .post('api/contact', {
              name: this.name,
              email: this.email,
              message: this.message
            })
            .then(res => {
              // console.log(res)
            })
        }
      })
    }
  }
}
</script>

<style>
form {
  width: 100%;
}
.error--text {
  color: #43615c !important;
}
</style>
