<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex d-flex xs12 sm6 md8>
        <v-layout row wrap>
          <v-flex d-flex>
            <v-card class="warning" dark>
              <v-card-title class="title pb-0">Symfony</v-card-title>
              <v-card-text class="subheading">
                Expert Symfony avec plus de 10 ans d'expériences. J'utilise Symfony depuis 2007 et sa version 1.0 . J'ai
                continuellement porté mon attention sur ses évolutions (1 ➔ 2 ➔ 3 ➔ 4).
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex>
            <v-layout row wrap>
              <v-flex d-flex xs12>
                <v-card class="accent" dark>
                  <v-card-title class="title pb-0">Polyvalence</v-card-title>
                  <v-card-text class="subheading">
                    Cependant, je suis pour l'essentiel un développeur Web Fullstack avec une vision DevOps. La
                    polyvalence me permet d'être force de propositions tout en maîtrisant les différents aspects d'un
                    projet.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex d-flex xs12>
                <v-card class="primary" dark>
                  <v-card-title class="title pb-0">Méthodes de développement agiles</v-card-title>
                  <v-card-text class="subheading">
                    Adepte des méthodologies Agiles tel que SCRUM, Kanban et Lean. Les principes de collaboration,
                    d'itération et d’incrémentation sont essentiels afin de tendre (de l'intégration continu) vers les
                    déploiements continues, avec :
                    <ul>
                      <li>
                        ➔ des cycles de développement de qualité et plus courts
                      </li>
                      <li>
                        ➔ une augmentation de la fréquence des déploiements et des livraisons continues
                      </li>
                      <li>➔ une meilleure atteinte de vos objectifs</li>
                    </ul>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex d-flex xs12 sm6 md4>
        <v-layout row wrap>
          <v-flex d-flex>
            <v-card class="primary" dark>
              <v-card-title primary class="title pb-0">Compétence Full Stack</v-card-title>
              <v-card-text class="subheading">
                <ul>
                  <li>➔ Culture Devops</li>
                  <li>➔ Méthodes de développement agiles</li>
                  <li>➔ Gestion de bases de données</li>
                  <li>➔ Développement Front-End</li>
                  <li>➔ Développement Back-End</li>
                </ul>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex>
            <v-card class="warning" dark>
              <v-card-title primary class="title pb-0">Formateur / Mentorat / Coaching</v-card-title>
              <v-card-text class="subheading">
                <ul>
                  <li>➔ Web</li>
                  <li>➔ Ansible</li>
                </ul>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex xs12>
            <v-card class="secondary" dark>
              <v-card-title primary class="title pb-0">Mes valeurs</v-card-title>
              <v-card-text class="subheading">
                <ul>
                  <li>➔ Open Source</li>
                  <li>➔ Favorise les projets éco-responsable, éthique, porteur de sens</li>
                  <li>➔ Polyvalences - Multi-activités</li>
                  <li>➔ Agilité, holacratie, sociocratie, Communication Non Violente (CNV)</li>
                  <li>➔ Transparence</li>
                </ul>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'Description',
  data() {
    return {
      lorem: 'Site en reconstruction'
    }
  }
}
</script>
