<template>
  <v-card id="create">
    <v-speed-dial
      v-model="fab"
      fixed
      bottom
      right
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="primary" dark fab>
          <v-icon class="mt-2">fas fa-stack-1x fa-comments</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="#0077B5"
        href="https://www.linkedin.com/in/yvalentin/"
        target="_blank"
      >
        <v-icon class="mt-3" small>fab fa-stack-1x fa-linkedin-in</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="#FF2A73"
        target="_blank"
        href="https://www.malt.fr/profile/yohannvalentin"
      >
        <div class="icon-malt circle"></div>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="black"
        target="_blank"
        href="mailto:pro@yohannvalentin.com"
      >
        <v-icon class="mt-3" small>fas fa-stack-1x fa-envelope</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-card>
</template>

<script>
export default {
  name: 'FloatingAction',
  data: () => ({
    fab: false
  })
}
</script>

<style scoped></style>
