<template>
  <v-layout justify-center row wrap>
    <v-flex text-xs-center xs12>
      <span>
        Made in <v-icon color="#DF7452">favorite</v-icon> with
        <a href="https://vuejs.org/">vue.js</a> (Nuxt, Express) at Lyon &copy;
        2019
<!--        <v-icon>github</v-icon>-->
      </span>
    </v-flex>
  </v-layout>
</template>
<script>
export default {}
</script>
