<template>
  <div>
    <v-divider class="section-title"></v-divider>
    <v-icon :class="iconClass" color="#272727"></v-icon>
    <v-divider class="section-title"></v-divider>
  </div>
</template>

<script>
export default {
  name: 'IconLine',
  props: {
    iconClass: { type: String, default: 'fa' }
  }
}
</script>

<style scoped></style>
