<template>
  <div>
    <!--    <v-toolbar fixed app :clipped-left="clipped" scroll-off-screen class="transparent" dark flat>-->
    <v-toolbar fixed app :clipped-left="clipped" scroll-off-screen height="64px">
      <v-container mx-auto py-0>
        <v-layout row>
          <!-- color="elevation-0 transparent" -->
          <nuxt-link to="/">
            <v-avatar :tile="true" size="59px" class="logo">
              <!--          <yvLogo></yvLogo>-->
              <img src="~/static/yx-black-small-logo-web.png" alt="Y.V - Web" />
            </v-avatar>
          </nuxt-link>
          <v-toolbar-title v-text="title" class="align-self-center justify-start text-uppercase hidden-xs-only" />
          <v-toolbar-items class="justify-end grow hidden-sm-and-down">
            <v-btn flat to="/" class="py-2 mx-1" router active-class="v-btn--outline active-primary"
              ><v-icon class="fas fa-home" small left />Accueil
            </v-btn>
            <v-btn flat to="/a-propos" class="py-2 mx-1" router active-class="v-btn--outline active-primary">
              <v-icon class="fas fa-code" small left />Qui suis-je
            </v-btn>
            <v-btn flat to="/references" class="py-2 mx-1" router active-class="v-btn--outline active-primary">
              <v-icon class="fas fa-drafting-compass" small left />Références
            </v-btn>
            <v-btn flat to="/articles" class="py-2 mx-1" router active-class="v-btn--outline active-primary">
              <v-icon class="fas fa-book-dead" small left />Articles</v-btn
            >
          </v-toolbar-items>
        </v-layout>
      </v-container>
      <v-toolbar-side-icon right @click="drawerMenu = !drawerMenu" />
    </v-toolbar>
    <v-navigation-drawer v-model="drawerMenu" :disable-resize-watcher="true" temporary absolute fixed app right>
      <v-layout column fill-height>
        <v-list class="hidden-md-and-up">
          <v-list-tile
            v-show="item.external === false"
            router
            :to="item.to"
            :key="i"
            v-for="(item, i) in items"
            exact
            :target="item.target"
          >
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-list>
          <v-list-group prepend-icon="fas fa-globe-europe" no-action>
            <template v-slot:activator>
              <v-list-tile inactive>
                <v-list-tile-content>
                  <v-list-tile-title>Univers</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
            <v-list-tile
              v-for="(item, i) in items"
              v-show="item.external === true && item.universe === true"
              :key="i"
              :href="item.to"
              :target="item.target"
              router
              exact
            >
              <v-list-tile-action>
                <v-icon v-html="item.icon"></v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="item.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </v-list>
        <v-list>
          <v-list-group prepend-icon="fas fa-tools" no-action>
            <template v-slot:activator>
              <v-list-tile inactive>
                <v-list-tile-content>
                  <v-list-tile-title>Outils</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
            <v-list-tile
              v-for="(item, i) in items"
              v-show="item.external === true && item.tool === true"
              :key="i"
              :href="item.to"
              :target="item.target"
              router
              exact
            >
              <v-list-tile-action>
                <v-icon v-html="item.icon"></v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="item.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-layout>
    </v-navigation-drawer>
  </div>
</template>

<script>
import yvLogo from './../static/yv-white.svg'

export default {
  name: 'Navigation',
  components: {
    yvLogo
  },
  data() {
    return {
      clipped: true,
      drawer: false,
      drawerMenu: false,
      fixed: true,
      items: [
        { icon: 'fas fa-home', title: 'Accueil', to: '/', external: false },
        {
          icon: 'fas fa-code',
          title: 'Qui suis-je',
          to: '/a-propos',
          external: false
        },
        {
          icon: 'fas fa-drafting-compass',
          title: 'Références',
          to: '/references',
          external: false
        },
        {
          icon: 'fas fa-camera-retro',
          title: 'Photographies',
          to: 'https://photo.yohannvalentin.com',
          target: '_blank',
          external: true,
          universe: true
        },
        {
          icon: 'fas fa-tasks',
          title: 'Board - Kanban',
          to: 'https://board.yohannvalentin.com',
          target: '_blank',
          external: true,
          tool: true
        },
        {
          icon: 'fas fa-euro-sign',
          title: 'Facturation',
          to: 'https://ninjav5.yohannvalentin.com',
          target: '_blank',
          external: true,
          tool: true
        },
        {
          icon: 'fas fa-broadcast-tower',
          title: 'Tower',
          to: 'https://awx.yohannvalentin.com',
          target: '_blank',
          external: true,
          tool: true
        },
        {
          icon: 'fas fa-at',
          title: 'Email',
          to: 'https://mail.yohannvalentin.com',
          target: '_blank',
          external: true,
          tool: true
        },
        {
          icon: 'fas fa-chart-area',
          title: 'Grafana',
          to: 'https://grafana.yohannvalentin.com',
          target: '_blank',
          external: true,
          tool: true
        }
      ],
      miniVariant: false,
      title: 'Yohann Valentin'
    }
  }
}
</script>

<style scoped>
.active-primary {
  color: var(--v-primary-base) !important;
}
</style>
