<template>
  <div class="wrap-banner">
    <div class="main-title">
      <v-avatar :tile="false" size="250px" color="#263238" class="white-logo">
        <yvLogo />
      </v-avatar>
      <vue-typed-js
        :loop="true"
        :smartBackspace="true"
        :shuffle="true"
        :typeSpeed="75"
        :backSpeed="100"
        :backDelay="1000"
        :strings="$store.state.IAm.list"
      >
        <h1 class="typing ma-2">Je suis freelance</h1>
      </vue-typed-js>
      <p class="subtitle">
        <v-btn
          dark
          :large="true"
          color="#DF7452"
          @click="$vuetify.goTo('#myStack', { duration: 1000 })"
          >Découvrez ma stack</v-btn
        >
        <!-- <v-btn href="mailto:pro@yohannvalentin.com">Contactez moi</v-btn> -->
        <!--@click="$vuetify.goTo('#contact', {duration: 1000})"-->
      </p>
      <div class="icons">
        <a
          href="https://www.linkedin.com/in/yvalentin/"
          title="Linkedin"
          target="_blank"
        >
          <v-icon dark large>fab fa-linkedin-in</v-icon>
        </a>

        <a
          href="https://www.malt.fr/profile/yohannvalentin"
          title="Malt"
          target="_blank"
        >
          <div class="icon-malt"></div>
        </a>
        <a href="mailto:pro@yohannvalentin.com" title="Email">
          <v-icon dark large>fas fa-envelope</v-icon>
        </a>
      </div>
    </div>
    <client-only>
      <vue-particles
        color="#91709F"
        :particleOpacity="0.5"
        linesColor="#435557"
        :particlesNumber="50"
        shapeType="triangle"
        :particleSize="5"
        :linesWidth="2"
        :lineLinked="true"
        :lineOpacity="1"
        :linesDistance="150"
        :moveSpeed="4"
        :hoverEffect="true"
        hoverMode="repulse"
        :clickEffect="true"
        clickMode="push"
      />
    </client-only>
  </div>
</template>
<script>
import yvLogo from './../static/yv-white.svg'

export default {
  name: 'particules',
  components: {
    yvLogo
  }
}
</script>

<style scoped>
svg:not(:root) {
  overflow: hidden;
}

svg {
  margin-top: 20px;
  max-height: 80%;
  max-width: 180px;
}

svg g {
  width: 200px !important;
  height: 200px !important;
}

.v-avatar.white-logo {
  width: 100%;
  border: solid 3px white !important;
}
</style>
