<template>
  <v-container text-xs-center>
    <v-layout row fill>
      <v-flex xs12>
        <h3 class="display-2 font-weight-black font-italic">
          Les Expériences <v-icon x-large>folder</v-icon>
        </h3>
        <v-expansion-panel>
          <v-expansion-panel-content
            v-for="(project, i) in $store.state.projects.list"
            :key="i"
          >
            <div slot="header">{{ project.name }}</div>
            <v-card>
              <v-card-text
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.</v-card-text
              >
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'projects',
  props: {
    project: Object
  }
}
</script>
