<template>
  <v-toolbar fixed app :clipped-left="clipped" :color="elevation - 0">
    <v-toolbar-side-icon @click="$store.commit('toggleSidebar')" />
    <v-btn icon @click.stop="miniVariant = !miniVariant">
      <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'" />
    </v-btn>
    <v-btn icon @click.stop="clipped = !clipped">
      <v-icon>web</v-icon>
    </v-btn>
    <v-btn icon @click.stop="fixed = !fixed">
      <v-icon>remove</v-icon>
    </v-btn>
    <v-toolbar-title v-text="title" />
    <v-spacer />
    <v-btn icon @click.stop="rightDrawer = !rightDrawer">
      <v-icon>menu</v-icon>
    </v-btn>
  </v-toolbar>
</template>
<script>
export default {
  name: 'toolbar',
  props: {
    clipped: Boolean,
    fixed: Boolean,
    miniVariant: Boolean,
    rightDrawer: Boolean,
    title: String
  }
}
</script>
