<template>
  <v-container id="training" grid-list-md>
    <v-layout align-center justify-center>
      <v-flex xs12 sm12 md12 lg12 xl10>
        <h3
          class="text-xs-center display-2 font-weight-medium pb-2 text-uppercase"
        >
          Formations
        </h3>
        <icon-line
          class="text-xs-center"
          icon-class="fas fa-graduation-cap"
        ></icon-line>
        <v-timeline class="mt-4" :dense="timelineDisplay">
          <v-timeline-item
            v-for="(training, i) in $store.state.training.list"
            :key="i"
            color="#DF7452"
            icon="fas fa-graduation-cap"
            large
          >
            <v-card class="elevation-2">
              <v-card-title>
                <div>
                  <h3 class="headline">{{ training.degree }}</h3>
                  <div>
                    <h4
                      v-if="training.link !== '#'"
                      class="title font-weight-medium pt-1"
                    >
                      <a :href="training.link" target="_blank">{{
                        training.institute
                      }}</a>
                    </h4>
                    <h4
                      v-else
                      class="title font-weight-medium pt-1 primary--text"
                    >
                      {{ training.institute }}
                    </h4>
                  </div>
                </div>
                <v-spacer></v-spacer>
                <div class="">
                  <h5 class="subheading grey--text">
                    {{ training.date }} | {{ training.city }}
                  </h5>
                </div>
              </v-card-title>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import IconLine from './IconLine'
export default {
  name: 'Formation',
  components: {
    IconLine
  },
  computed: {
    timelineDisplay() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
        case 'sm':
        case 'md':
          return true
        case 'lg':
        case 'xl':
        default:
          return false
      }
    }
  }
}
</script>
