//@require '~vuetify/src/stylus/app.styl'
@require '~vuetify/src/stylus/app.styl'
@require '~vuetify/src/stylus/main.styl'
@require 'variables.styl'

footer
  position absolute
  width 100%
  bottom 0

li
  list-style none

#particles-js
  background-image url("/cover-symfony-1.png")
  background-size cover
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

#layout-center
  height none

.wrap-banner
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 93vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  .icons
    margin-top: 20px;
    a
      margin: 0px 10px
    .icon-malt
      display: inline-block;
      font-size: 36px;
      color: white;
  
.v-btn
  div.icon-malt.circle
    font-size 18px


.main-title {
  color: #fff;
  z-index: 999;
  h1 {
    font-size: 3rem;
    text-shadow: 8px 8px #000000;
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
  p.subtitle {
    font-size: 1.7rem;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
}

.typed-element .typed-cursor
  font-size 3rem

.v-toolbar
  z-index 1000 !important

.v-navigation-drawer
  z-index 1001 !important

//.page
//  @extend .fade-transition

.section-title
  display: inline-flex !important
  border-width 2px 0 2px 70px !important
  vertical-align: middle
  border-color: #DF7452 !important

a
  text-decoration: none

