<template>
  <v-app>
    <navigation></navigation>
    <v-content pa-0>
      <v-container grid-list-md>
        <nuxt />
      </v-container>
      <v-footer>
        <footer-content></footer-content>
        <floating-action></floating-action>
      </v-footer>
    </v-content>
  </v-app>
</template>

<script>
import footerContent from '../components/Footer'
import navigation from '../components/Navigation'
import FloatingAction from '../components/FloatingAction'
export default {
  components: { FloatingAction, navigation, footerContent },
  data() {
    return {
      clipped: true,
      drawer: false,
      fixed: true,
      items: [
        { icon: 'apps', title: 'Accueil', to: '/', external: false },
        {
          icon: 'photo',
          title: 'Photographies',
          to: 'https://photo.yohannvalentin.com',
          target: '_blank',
          external: true
        }
      ],
      miniVariant: false,
      title: 'Yohann Valentin'
    }
  }
}
</script>
<style>
.logo {
  height: auto !important;
}
</style>
