<template>
  <v-layout column>
    <experience></experience>
    <training></training>
    <!--<projects></projects>-->
    <!--<contact></contact>-->
  </v-layout>
</template>
<script>
import description from '../components/Description'
import projects from '../components/Projects'
import stacks from '../components/Stacks/Stacks'
import Contact from '../components/Contact'
import training from '../components/Training'
import experience from '../components/Experiences/Experiences'
export default {
  layout: 'layout',
  head() {
    return {
      title: 'Qui suis-je'
    }
  },
  components: {
    // Contact,
    stacks,
    // projects,
    description,
    training,
    experience
  }
}
</script>
