<template>
  <v-layout column>
    <description></description>
    <stacks></stacks>
    <!--<projects></projects>-->
    <!--<contact></contact>-->
  </v-layout>
</template>
<script>
import description from '../components/Description'
import projects from '../components/Projects'
import stacks from '../components/Stacks/Stacks'
import Contact from '../components/Contact'
export default {
  layout: 'layout-particles',
  components: {
    // Contact,
    stacks,
    // projects,
    description
  }
}
</script>
