<template>
  <v-layout column>
    <references></references>
  </v-layout>
</template>
<script>
import References from '../components/References/References'
export default {
  layout: 'layout',
  head() {
    return {
      title: 'Références'
    }
  },
  components: {
    References
  }
}
</script>
